.Grid {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-auto-columns: min-content;
  border: 1px solid #333333;
  width: fit-content;
}

.field {
  border: 1px solid whitesmoke;
  width: 20px;
  height: 20px;
}

.gridContainer {
  padding: 10px;
  width: inherit;
  height: 100%;
  background-color: #1e1e1e;
}
